@charset    "utf-8";
h1 {
    font-family: "Kaushan Script", serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    font-variant: small-caps;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
body { 
    background-image: linear-gradient(to right, #00ff2ab6, #000000)
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 10px 1px #0000008e;
    width: 500px;
    padding: 10px;
    margin: aut
}
h2 { 
    color: white;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 60px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
